$white100: #fff;
$white90: #e1e1e6;
$black100: #000;
$black80: #101011;
$red: red;
$transparent: transparent;
$whiteOpacity50: rgba(255, 255, 255, 0.5);
$blackOpacity98: rgba(0, 0, 0, 0.98);
$blackOpacity90: rgba(0, 0, 0, 0.9);
$blackOpacity60: rgba(0, 0, 0, 0.6);
