@use "../../styles/_colors.scss" as colors;
@use "../../styles/_metrics.scss" as metrics;

.imageWrapper {
  position: relative;
  z-index: 5;
  margin-left: metrics.$space_83;
  margin-bottom: metrics.$space_43 * -1;
  aspect-ratio: 16/9;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-bottom: -4px;

    img {
      object-position: center;
      height: 480px;
    }
  }
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: clamp(2.2rem, 3vw, 2.8rem);
}

.body {
  font-family: "Quicksand", sans-serif;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 50px;

  padding: 150px 0 150px 170px;

  svg {
    color: colors.$black100;
    font-size: 1.8rem;
    margin-right: 15px;
  }

  span {
    color: colors.$black100;
  }

  @media (max-width: 768px) {
    padding: 30px 30px 60px;
  }
}

.contactItem {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.01);
    cursor: pointer;
  }
}
