@use "../../styles/_colors.scss" as colors;

.container {
  background-color: colors.$white100;

  svg {
    color: colors.$black100;
    font-size: 2.5rem;
  }

  span {
    color: colors.$black100;
  }
}

.items-container {
  margin: 0 auto;
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 50px;

  padding: 200px 0 130px 170px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
}

.body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
}

.contact-item {
  display: flex;
  align-items: center;

  gap: 15px;
}
