@use "../../styles/_colors.scss" as colors;

.container {
  display: flex;

  svg {
    color: colors.$black100;
    font-size: 2.5rem;
  }

  span {
    color: colors.$black100;
  }
}
.title {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}

.items-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 50px;

  padding: 200px 0 130px 170px;

  background-color: colors.$white100;
}

.contact-item {
  display: flex;
  align-items: center;

  gap: 15px;

  span {
    font-family: "Quicksand", sans-serif;
    font-size: 1.7556rem;
  }
}
