.container {
    width: fit-content;
}

.text {
    color: rgba(14, 14, 15);
}

.body {
    font-size: 1.25rem;
}

.title {
    font-weight: bold;
    font-size: 1.75rem;
}

.vertical {
    transform: rotate(-90deg);
}
