@use "../../styles/_colors.module.scss" as colors;

$MAX_WIDTH: 70rem;

.main {
  padding-bottom: 3rem;
}

.header {
  display: flex;
  justify-content: center;

  > div {
    display: flex;
    align-items: center;
    gap: 15rem;
    width: 100%;
    max-width: $MAX_WIDTH;
  }

  img {
    max-width: 6rem;
  }
}

.imageSlideShow {
  position: relative;
  bottom: -8rem;

  .brand {
    position: absolute;
    top: 15rem;
    left: 0;
  }

  .brandText {
    font-size: 0.8rem;
  }

  .imageWrapper {
    max-width: $MAX_WIDTH;
    margin: 0 0.5rem;

    .image {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17rem 0 6rem 0;
  background-color: colors.$white100;
  width: 100%;

  .bioWrapper {
    max-width: 70rem;
    margin-bottom: 5rem;

    .textWrapper {
      .descriptionContainer {
        margin-top: 30px;
      }
    }
  }

  span {
    color: colors.$black100;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.projects {
  background-color: colors.$white100;
  padding-bottom: 17rem;

  button {
    background-color: colors.$transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      //cursor: pointer;
      transform: scale(1.15);
    }
  }
}

.videoGrid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-width: 6rem;
  }

  .contactIcon {
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}

.links {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;

  a {
    text-decoration: none;
    color: colors.$white100;
  }
}
