@use "../../styles/_colors.scss" as colors;
@use "../../styles/_breakpoints.scss" as breakpoints;

$DEFAULT_HORIZONTAL_PADDING: 5.625rem;

header {
  display: flex;
  align-items: center;
  padding: 4.375rem $DEFAULT_HORIZONTAL_PADDING 3.75rem;

  img {
    max-width: 3.5rem;

    @media (min-width: breakpoints.$bp_768) {
      max-width: 4.5rem;
    }
  }

  @media (max-width: breakpoints.$bp_768) {
    justify-content: space-between;
    padding: 1.25rem 1.875rem;
  }
}

.links {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  @media (max-width: breakpoints.$bp_768) {
    display: none;
  }
}

.mobileLinks {
  @media (max-width: breakpoints.$bp_768) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;

    width: 100vw;
    height: 100vh;

    background-color: colors.$black80;

    transition: right 0.5s ease-in-out;

    > div {
      flex-direction: column;
    }
  }
}

.slideIn {
  right: 0;
}

.slideOut {
  right: -100%;
}

.button {
  display: none;
  border: none;
  background-color: transparent;

  svg {
    color: colors.$white100;
    font-size: 2.2rem;
  }

  @media screen and (max-width: breakpoints.$bp_768) {
    display: block;
    align-self: flex-end;
  }
}

.closeButton {
  svg {
    color: colors.$white100;
    font-size: 3rem;
  }
}
