@use "../../styles/_colors.scss" as colors;

$DEFAULT_HORIZONTAL_PADDING: 90px;

header {
  display: flex;
  align-items: center;
  padding: 70px $DEFAULT_HORIZONTAL_PADDING 60px;

  img {
    max-width: 3.5rem;
  }

  @media (max-width: 768px) {
    justify-content: space-between;
    padding: 50px 30px;
  }
}

.links {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  @media (max-width: 768px) {
    display: none;
  }
}

.mobileLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100vw;
  height: 100vh;

  background-color: colors.$black80;

  > div {
    flex-direction: column;
  }
}

.button {
  display: none;
  border: none;
  background-color: transparent;

  svg {
    color: colors.$white100;
    font-size: 2.2rem;
  }

  @media screen and (max-width: 768px) {
    display: block;
    align-self: flex-end;
  }
}
