@use "../../styles/_colors.scss" as colors;

header {
  display: flex;
  align-items: center;
  padding: 70px 0 60px;
  padding-left: 170px;

  img {
    max-width: 5rem;
  }

  @media (max-width: 800px) {
    justify-content: space-between;
  }

  /**@media (min-width: 1366px) {
    padding-left: 170px;
  }*/
}

.links {
  display: flex;
  width: 100%;
  justify-content: center;

  @media (max-width: 800px) {
    display: none;
  }
}

.button {
  display: none;
  border: none;
  background-color: transparent;

  svg {
    color: colors.$white100;
    font-size: 3rem;
  }

  @media screen and (max-width: 800px) {
    display: block;
  }
}

.closeButton {
  padding-bottom: 3rem;
}

.mobileLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100vw;
  height: 100vh;

  background-color: colors.$blackOpacity98;

  > div {
    flex-direction: column;
  }
}
