@use "../../styles/_colors.scss" as colors;

.container {
  position: relative;
  button {
    border: none;
    background-color: transparent;

    &:disabled {
      opacity: 0;
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
  }
}

.image-wrapper {
  //max-width: 90%;
  //TODO: passar para screen
  margin: 0 auto;
}

.carousel-button {
  position: absolute;
  top: 0;
  height: 100%;

  &:hover:enabled {
    cursor: pointer;
  }
}

.prev-button {
  z-index: 5;
  left: 0;
}
.next-button {
  right: 0;
}
