@use "../../styles/_colors.scss" as colors;

$MAX_WIDTH: 70rem;

.imageSlideShow {
  position: relative;
  display: flex;
  padding-left: 170px;
  margin: 0 0 -86px;

  img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 800px) {
    margin: 0 -10px;
    padding-left: 0;
  }
}

.frozenPlayer {
  pointer-events: none;
}

.imageList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 115px 170px 185px;
  background-color: colors.$white100;

  div {
    flex: 1 1 480px;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.videoWrapper {
  margin-right: 170px;
  margin-top: -170px;
}
