@use "../../styles/_colors.scss" as colors;

.topVideoWrapper {
  margin-left: 85px;
  margin-bottom: -45px;
}

.frozenPlayer {
  pointer-events: none;
}

.imageList {
  display: flex;
  flex-wrap: wrap;
  background-color: colors.$white100;
  gap: 10px;
  padding: 55px 85px;
}

.pictureButton {
  border: none;
  background-color: colors.$transparent;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  flex: 1 1 390px;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: ease 0.2s;
    aspect-ratio: 16/9;
  }

  &:hover {
    img {
      filter: brightness(20%);
    }

    div {
      display: block;
    }
  }
}

.captionWrapper {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 30px;

  span {
    color: colors.$white100;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
  }
}

.bottomVideoWrapper {
  margin-right: 85px;
  margin-top: -45px;
}
