@use "../../styles/_colors.scss" as colors;

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;

  img {
    display: block;
    width: 3.5rem;
    margin-bottom: 80px;
  }

  svg {
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  section {
    display: flex;
    padding-top: 40px;
    gap: 1rem;

    a {
      text-decoration: none;
      color: colors.$white100;
    }
  }

  @media (max-width: 768px) {
    padding: 60px 0 40px;
    img {
      display: none;
    }
  }
}

.links {
  @media (max-width: 768px) {
    display: none;
  }
}
