@use "../../styles/_colors.scss" as colors;

.container {
  display: flex;
  gap: 40px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: none;
  background-color: colors.$transparent;
  text-decoration: none;
  cursor: pointer;
}

.text {
  color: colors.$white100;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.active {
  margin-top: 8px;
  border-bottom: 2px solid colors.$white100;
  animation-name: activeWidth;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;

  @keyframes activeWidth {
    from {
      width: 0;
    }
    to {
      width: 26px;
    }
  }
}
