@use "../../styles/_colors.scss" as colors;

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
  background: colors.$blackOpacity98;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: colors.$transparent;
  }

  svg {
    color: white;
    font-size: 5rem;
  }
}

.image-wrapper {
  img {
    height: auto;
    width: 100%;
  }
}
